<% provide(:title, "Home") %>
<!-- starting of slider --> 
     <div id="slider">    
      <div class="video-container">
        <video class="fillWidth" loop="" autoplay="" >
          <source type="video/mp4" src="/videos/Slide_1_Video(1).mp4" autoplay="autoplay" loop="loop"></source> 
        </video>   
         <div class="orbit-caption">
                <div class="row">
                  <div class="sider-maintext text-center">
                    <h1>Experience the World Through Your Pet’s
                    <small>Eyes and Ears Anywhere Anytime</small></h1>
                  </div>
                <div class="slider-section medium-4 text-center left">
                  <i class="icon-icon7 eye"> </i>
                  <h2>POV Pet Cam</h2>
                </div>
                <div class="slider-section medium-4 text-center left">
                  <!-- <img src="img/Eyeandspeaking.png" alt="Pet Ception" title="Pet Ception"> -->
                  <i class="icon-icon5 head"></i><span>+</span><i class="icon-icon6"></i>
                  <h2>Two-Way Audio</h2>
                </div>
                <div class="slider-section medium-4 text-center left">
                  <i class="icon-icon8"> </i>
                  <h2>Live Via Wi-Fi</h2>
                </div>
              </div>
              </div>         
      </div> 
       <!--  <ul data-orbit>
            <li>
              <img src="img/ban-1.jpg" alt="slide 1">
              <div class="orbit-caption">
                <div class="row">
                  <div class="sider-maintext text-center">
                    <h1>Experience the World Through Your Pet’s
                    <small>Eyes and Ears Anywhere Anytime</small></h1>
                  </div>
                <div class="slider-section medium-4 text-center left">
                  <i class="icon-icon7 eye"> </i>
                  <h2>POV Pet Cam</h2>
                </div>
                <div class="slider-section medium-4 text-center left">
                  
                  <i class="icon-icon5 head"></i><span>+</span><i class="icon-icon6"></i>
                  <h2>Two-Way Audio</h2>
                </div>
                <div class="slider-section medium-4 text-center left">
                  <i class="icon-icon8"> </i>
                  <h2>Live Via Wi-Fi</h2>
                </div>
              </div>
              </div>
            </li>
            <li>
                <img src="img/slider05.png" alt="slide 1">
                <div class="orbit-caption">
                  <div class="row">
                    <div class="sider-maintext text-center">
                      <h1>Experience the World Through Your Pet’s
                      <small>Eyes and Ears Anywhere Anytime</small></h1>
                    </div>
                  </div>
                </div>
            </li>
            <li>
                <img src="img/ban-3.jpg" alt="slide 1">
                <div class="orbit-caption">
                  <div class="row">
                    <div class="sider-maintext text-center">
                      <h1>Experience the World Through Your Pet’s
                      <small>Eyes and Ears Anywhere Anytime</small></h1>
                    </div>
                  </div>
                </div>
            </li>
            <li>
                <img src="img/ban-4.jpg" alt="slide 1">
                <div class="orbit-caption">
                  <div class="row">
                    <div class="sider-maintext text-center">
                      <h1>Experience the World Through Your Pet’s
                      <small>Eyes and Ears Anywhere Anytime</small></h1>
                    </div>
                  </div>
                </div>
            </li>
        </ul> -->
     </div>
<!-- closing of slider --> 


<!-- starting of section2 --> 
      <div id="section2"> 
         <div class="row">

      <div class="small-4 columns text-center">
        <h2 class="text-center zz">Collar Mounted<span> POV Pet Cam</span></h2>
          <%=link_to image_tag("dog-happy_cartoon_.png", alt: ""),'' %>   
      </div> 
      <div class="small-8 columns">
        <h1>Enjoy Your Pets Point of View</h1>
         <div class="row">
           <div class="small-6 columns text-center">
              <span class="icon-icon8"> </span>
              <h2>Live POV Pet Video</h2>
           </div>
            <div class="small-6 columns text-center">
              <span class="icon-icon7"> </span>
              <h2>See What They See</h2>
           </div>
         </div>
         <h3>Like Skype but the webcam is attached to the pet and is connected
          via wifi to PetCeption's<span> portal</span></h3>
      </div> 
      </div> 
      </div> 
<!-- closing of section2 -->

<!-- starting of section3 --> 
<div id="section3">
<div class="video-container">
  <video class="fillWidth" loop="" autoplay >
    <source type="video/mp4" src="/videos/Slide3.mp4"></source>         
  </video>   
  <div class="video_content">
   <div class="row">
      <div class="large-12 columns">
        <div class="header-group text-center">
        <h1>See What Your Pet Sees Instantly <span>via Our Live Point of View Pet Cam  </span></h1>
        <h3>This is not a Nanny Cam disguised as a Pet Cam</h3>
       </div>
      </div>
    </div>
   </div>
</div> 
</div>
<!-- closing of section3 -->

<!-- starting of section4 --> 
   <div id="section4"> 
    <div class="row">
      <div class="small-4 columns">
        <h2 class="text-center zz">Collar Mounted<span> Mic and Seaker</span></h2>
       <%=link_to image_tag("cat.gif", alt: "" ,:class => 'cat'),'' %> 
      </div> 
      <div class="small-8 columns">
        <h1>Chat with your pet in real time</h1>
         <div class="row talk-listen">
           <div class="small-4 columns text-center">
              <span class="icon-icon8"> </span>
              <h2>Live Two-Way Audio</h2>
           </div>
           <div class="small-4 columns text-center">
              <span class="icon-icon5"> </span>
              <h2>Talk</h2>
           </div>
            <div class="small-4 columns text-center">
              <!-- <span class="icon-icon7"> </span> -->
              <i class="icon-icon6"></i>
              <h2>Listen</h2>
           </div>
         </div>
         <h3>Go wherever Your pet goes and connect with them <span>24x7</span></h3>
      </div> 
      </div> 
      </div> 
<!-- closing of section4 -->

<!-- starting of section5 --> 
<div id="section5" class="pettalk">
<div class="video-container">
   <video class="fillWidth" loop autoplay >
     <source type="video/mp4" src="videos/Slide_5_Video.mp4"></source>
   </video>

  <!--<video class="fillWidth" loop="" autoplay >
    <source type="video/mp4" src="/videos/Slide_5_Video.mp4"></source>         
  </video>-->   
  <div class="video_content">
    <div class="row">
      <div class="large-12 columns">
        <div class="header-group text-center">
        <h1>Thats Right...Talk with Your Pet<span>It's Almost Like Your Pet has Their Own Smart Phone</span></h1>
        <h3>Petception's Pet Camera System is one of a kind</h3>
      </div>
      </div>
       </div>
   </div>
</div> 

 
<!--  <div class="row">
      <div class="large-12 columns">
        <div class="header-group text-center">
        <h1>That Right...Talk with Your Pet<span>It's Almost Like Your Pet has Their Own Computer</span></h1>
        <h3>Petception's Pet Camera System is one of a</h3>
      </div>
</div>
 </div> -->
</div>
<!-- closing of section5 --> 

<!-- starting of section6 --> 
<div id="section6" class="ActivationModes"> 
      <!-- <div class="row">
        <div class="small-12 columns"><h1>Activation Modes</h1></div>
      <div class="medium-4 columns mode text-center">
        <h2 class="text-center">Control Remotely</h2>
        <span class="icon icon-icon4 "> </span>
        <span class="icon icon-icon1 "> </span>
        <p>The pet cam can be turned on and off, configured remotely, and be accessed from anywhere</p>
      </div>
      <div class="medium-4 columns mode text-center">
        <h2 class="text-center">Motion Dection</h2>
        <span class="icon icon-icon3"> </span>
        <p>An accelerometer tells you when your pet is on the go for optimal viewing opportunities</p>
      </div>
      <div class="medium-4 columns mode text-center">
        <h2 class="text-center">Scheduled Event</h2>
        <span class="icon icon-icon2"> </span>
        <p>Alarms can be set for specific times when the pet owner want to check in with their pet</p> 
      </div> 
      <div class="clearfix"></div>
      <div class="medium-5 columns">
        <h3>(Continuous Access)</h3>
      </div>
      <div class="medium-7 columns">
        <h3>(Event Triggered to Conserve Power)</h3>
      </div> 
    </div> -->
      <div class="clearfix points">
        <div class="row">
        <div class="medium-3 columns text-center">
          <p><span class="icon-icon10"></span>petception is the only point of view pet cam system of its kind</p>
        </div>
        <div class="medium-3 columns text-center">
          <p><span class="icon-icon10"></span>its small</p>
        </div>
        <div class="medium-3 columns text-center">
          <p><span class="icon-icon10"></span>and extremely durable</p>
        </div>
        <div class="medium-3 columns text-center">
          <p><span class="icon-icon10"></span><strong>Connecting</strong> with your pet <span style="color:#8fe943;">24x7</span> is <span style="text-decoration: line-through; color: red;"><span style="color:#fff;">not</span></span> possible!! now</p>
        </div>
      </div>
    </div>
</div> 
<!-- closing of section6 -->

<!-- starting of slider --> 
     <div id="slider" class="middle_slider">    
<ul data-orbit>
            <li>
               <%=link_to image_tag("slider11.jpg", alt: ""),'' %>    
                <div class="orbit-caption">
                  <div class="row">
                    <div class="sider-maintext text-center">
                      <h1 style="color: #165a97;">Do you ever feel guilty for leaving your pet at home alone all day?</h1>
                    </div>
                  </div>
                </div>
            </li>
            <li>
                <%=link_to image_tag("slider14.jpg", alt: ""),'' %>
                <div class="orbit-caption">
                  <div class="row">
                    <div class="sider-maintext text-center">
                      <h1 style="margin-left:auto;">Do you ever Worry <br>about what <br>your pet is getting into</h1>
                    </div>
                  </div>
                </div>
            </li>
            
            <li>
                 <%=link_to image_tag("slider05", alt: ""),'' %>
                <div class="orbit-caption">
                  <div class="row">
                    <div class="sider-maintext text-center">
                      <h1 style="margin-left:auto;">Maybe you miss your pet When you're away</h1>
                    </div>
                  </div>
                </div>
            </li>
              <li>
            <%=link_to image_tag("slider12.jpg", alt: ""),'' %> 
                <div class="orbit-caption">
                  <div class="row">
                    <div class="sider-maintext text-center">
                      <h1>Connecting <br> with your pet 24x7<br> is <span>not</span> possible!!!</h1>
                    </div>
                  </div>
                </div>
            </li>
            
        </ul>


      </div>
<!-- closing of slider --> 

<!-- Starting of connect us section --> 
<div id="connectWith"> 
  <div class="row">
      <div class="large-12 columns">
        <div class="header-group">
        <h1>Connect with us
<small>if you would like know more,receive updates or</small></h1>
<h3>Connect With Your Pet Using This Evolutionary Pet Technology,</h3>
</div>

</div>
 <%= form_for @connect, html: {class: "nifty_form"} do |f| %>
<div class="medium-6 columns">
      <div class="row collapse prefix-radius">
        <div class="small-2 large-1 columns">
          <span class="prefix icon-icon11"></span>
        </div>
        <div class="small-10 large-11 columns">          
           <%= f.text_field :firstname, :placeholder => "First Name" %>
        </div>
      </div>     
        
      <div class="row collapse prefix-radius">
        <div class="small-2 large-1 columns">
          <span class="prefix icon-icon11"></span>
        </div>
        <div class="small-10 large-11 columns">          
           <%= f.text_field :lastname, :placeholder => "Last Name"%>
        </div>
      </div>
           
          
      <div class="row collapse prefix-radius">
        <div class="small-2 large-1 columns">
          <span class="prefix icon-envelope"></span>
        </div>
        <div class="small-10 large-11 columns">
           <%= f.email_field :email, :required => true,:placeholder => "Email"%>

        </div>
      </div>
          
  </div>
  <div class="medium-6 columns">
    
      <div class="row collapse prefix-radius petsName">
        <div class="small-2 large-1 columns">
          <span class="prefix icon-pencil"></span>
        </div>
        <div class="small-10 large-11 columns">
           <%= f.text_area :petnames, :placeholder => "Your pet names"%>
        </div>
      </div>
      <div class="row collapse prefix-radius">
        <div class="small-2 large-1 columns">
          <span class="prefix icon-smiley"></span>
        </div>
        <div class="small-10 large-11 columns">           
          <%= f.collection_select(:pet_id, Pet.all, :_id, :pet_name) %> 
        </div>
      </div>
</div>
  <div class="large-12 columns text-center">
  <%= f.submit "Get start Now!"  , :class => 'custom-button radius button'%>
  </div>
 <% end %>


</div>
</div>
<!-- closing of connect us section --> 


<!-- starting of connect_diagram section --> 
<div class="connect_diagram clearfix" style="clear: both;">
 <%=link_to image_tag("connect-img.png", alt: ""),'' %> 
</div>
