<% provide(:title, "Product") %>

<section class="product_slide_1 left">
  <div class="row">
    <div class="small-12 columns text-center">
      <h1>Sign up for exclusive information on our upcoming launch</h1>
    </div>  
    <div class="product_slide_1_inner left">
      <div class="large-5 medium-6 small-6 columns">
        <div class="product_slide_1_inner_left left">
        <%= image_tag("product_left_img.png") %>        
        </div>  
      </div>
      <div class="large-7 medium-6 small-6 columns">
        <div class="product_slide_1_inner_right left">
           <%= image_tag("product_right_img.png") %>         
        </div>  
      </div>
      <div class="small-12 columns text-center">
        <h2>Our Latest PetCam Prototype</h2>
      </div>
      <div class="small-12 columns text-center">  
        <h3>(Available Winter 2015 on KickStarter)</h3>
      </div>
      <h4>See What PetCeption ‘s Pet Cam is All About</h4>  
    </div>
  </div>
</section> 
     

<section class="product_slide_2 left">
  <div class="row">
    <div class="small-12 columns text-center">
      <h1 class="pet-camera">How the Pet Camera Works</h1>
         <%= image_tag("product-slide2.jpg") %>       
    </div>
  </div>
</section>

<div class="ActivationModes for-top-border" id="section6"> 
      <div class="row">
        <div class="small-12 columns"><h1>Activation Modes</h1></div>
      <div class="medium-4 columns mode text-center">
        <h2 class="text-center">Control Remotely</h2>
        <span class="icon icon-icon4 "> </span>
        <span class="icon icon-icon1 "> </span>
        <p>The pet cam can be turned on and off, configured remotely, and be accessed from anywhere</p>
        <h3>(Continuous Access)</h3>
      </div>
      <div class="medium-8 columns" style="padding:0px;">
      <div class="medium-6 columns mode text-center">
        <h2 class="text-center">Motion Dection</h2>
        <span class="icon icon-icon3"> </span>
        <p>An accelerometer tells you when your pet is on the go for optimal viewing opportunities</p>
      </div>
      <div class="medium-6 columns mode text-center">
        <h2 class="text-center">Scheduled Event</h2>
        <span class="icon icon-icon2"> </span>
        <p>Alarms can be set for specific times when the pet owner want to check in with their pet</p> 
        
      </div> 
      <h3 class="text-center">(Event Triggered to Conserve Power)</h3>
      </div>
      <div class="clearfix"></div>
    </div>
</div>


<section class="product_slide_4 left">
  <div class="row">
    <div class="small-12 columns feature-blocks">
      <h1>Features</h1>

      <div class="medium-8 columns">
        <h2>Connect to your pet anywhere anytime</h2>
        <%= image_tag("feature-icon1.png") %>
        
      </div>

      <div class="medium-4 columns">
        <h2>WiFi Compatible</h2>
        <%= image_tag("feature-icon2.png") %>
       
      </div>

      <div class="medium-8 columns">
        <h2>Detects when you pet is on the go</h2>
         <%= image_tag("feature-icon3.png") %>
        
      </div>

      <div class="medium-4 columns">
        <h2>Easy Set-Up</h2>
         <%= image_tag("feature-icon4.png") %>     
      </div>

      <div class="medium-8 columns">
        <h2>Universally Compatible</h2>
         <%= image_tag("feature-icon5.png") %>    
       
      </div>

      <div class="medium-4 columns">
        <h2>No Monthly Fees</h2>
        <%= image_tag("feature-icon6.png") %>
          </div>

    </div>
  </div>
</section>




<div id="topthree" class="product-wrap">
        <div class="row">
          <div class="small-12 columns text-center">
            <h3>Why it’s Different</h3>
          </div>
        </div>
        <div class="row">
            <div class="small-6 columns">
              <div class="product-contant">
                <h4>Petception's pet pov camera system is one of a kind</h4>
                <ul>
                  <li>Controllable remotely</li>
                  <li>Streams video</li>
                  <li>Provides <span>two way audio communication</span></li>
                  <li>Connects pet owners with their pets<span> 24x7</span></li>
                </ul>

              </div>
            </div>
            <div class="small-6 columns">
              <div class="product-contant">
                <h4>Other pov cameras require</h4>
                <ul>
                  <li>Recording</li>
                  <li>Downloading</li>
                  <li>And Editing video</li>
                  <li>Before they can be viewed</li>
                </ul>
              </div>
            </div>
        </div>
        <div class="clearfix carousel-control icon-next"></div>
        <div class="row lst01">
          <div class="small-6 columns">
           <div>
            <div class="product-contant">
              <h4>Other streaming video pet cameras</h4>
              <ul>
                <li>Are nothing more than nanny cameras</li>
                <li>Must be placed somewhere in the corner of a room .</li>
              </ul>
            </div>
            </div>
          </div>
        </div>
</div>








<div id="topthree" class="product-wrap">
  <div class="row">
    <div class="small-12 columns text-center">
      <h3>Spec Section</h3>
    </div>
  </div>
  <div class="row">
      <div class="small-6 columns">
        <div class="product-contant">
          <h4>Current Physical Specs (plans to reduce size and weight)</h4>
          <ul>
            <li>Dimensions 1 x 2 x 3 inches</li>
            <li>Weight: approximately 70 grams</li>
          </ul>

        </div>
      </div>
      <div class="small-6 columns">
        <div class="product-contant">
          <h4>Video Modes</h4>
          <ul>
            <li>Resolution VGA or QVGA</li>
            <li>Frame Rate 15 to 30 fps</li>
            <li>HD streaming  up to 720p. Video can be configured between to conserve power.</li>
            <li>Video Format: H.264 Codec</li>
          </ul>
        </div>
      </div>
  </div>
  <div class="clearfix carousel-control icon-next"></div>
  <div class="row lst01">
    <div class="small-6 columns">
      <div class="product-contant">
        <h4>Audio</h4>
        <ul>
          <li>Format 32Hz sampling rate</li>
          <li>AGC (automatic gain control)</li>
          <li><li>AGC (automatic gain control)</li></li>
        </ul>
      </div>
    </div>

    <div class="small-6 columns">
      <div class="product-contant">
        <h4>Current Battery Specs (plans to reduce power consumption)</h4>
        <ul>
          <li>Charge may last up to 6 days</li>
          <li>30 min of streaming a day equals 3days before recharging is required while in event mode or constant streaming of 2.5 hours</li>
          <li>Rechargeable Lithium Ion Battery</li>
          <li>Rated at 3.7 V 1450 maH</li>
          <li>Charge port is a micro USB</li>
        </ul>
      </div>
    </div>
    <em>*Performance and power consumption will be effected just like any other wifi enabled device by the quality of the home network</em>
  </div>
</div>
<div id="slider" class="middle_slider product-slider">    
<ul data-orbit>
            <li> <%= image_tag("1.jpg") %></li>
            <li> <%= image_tag("2.jpg") %></li>
            <li> <%= image_tag("3.jpg") %></li>
            <li> <%= image_tag("4.jpg") %></li>
            <li> <%= image_tag("5.jpg") %></li>
            <li> <%= image_tag("6.jpg") %></li>
            <li> <%= image_tag("7.jpg") %></li>
            <li> <%= image_tag("8.jpg") %></li>
            <li> <%= image_tag("9.jpg") %></li>
            <li> <%= image_tag("10.jpg") %></li>
            <li> <%= image_tag("11.jpg") %></li>
            <li> <%= image_tag("12.jpg") %></li>
</ul>
</div>