
<section class="blog-section">
  <div class="contact-slide">
    <%= image_tag("blog_banner.jpg")%>
    <h1>Blog</h1>
  </div>
<div class="blog_wrap">
   <div class="row">
    <div class="medium-9 columns">
      <div class="blog  clearfix">
        <div class="blog_date left">
          <h5><strong>22</strong><span>Sep</span>2015</h5>
        </div>
        <div class="blog_content left">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          <div class="blog_thumb"><%= image_tag("blog5.jpg") %> </div>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.<br> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
            <a href="#" class="read_more">Read More</a>
            <ul class="post_info">
             <li>By<span>Admin</span></li>
             <li>126<span>Comments</span></li>  
             <li>Posted at<span>28 Sep 2015</span></li>    
             <li>share on:
               <a class="facebook_share" href="#">facebook</a>
               <a class="twitter_share" href="#">Twitter</a>
               <a class="google_share" href="#">Google plus</a>
             </li>  
          </ul>
        </div>
      </div>
      <div class="blog  clearfix">
        <div class="blog_date left">
          <h5><strong>22</strong><span>Sep</span>2015</h5>
        </div>
        <div class="blog_content left">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          <div class="blog_thumb">%= image_tag("blog2.jpg") %></div>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.<br> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
            <a href="#" class="read_more">Read More</a>
            <ul class="post_info">
             <li>By<span>Admin</span></li>
             <li>126<span>Comments</span></li>
             <li>Posted at<span>28 Sep 2015</span></li>    
             <li>share on:
               <a class="facebook_share" href="#">facebook</a>
               <a class="twitter_share" href="#">Twitter</a>
               <a class="google_share" href="#">Google plus</a>
             </li>  
          </ul>
        </div>
      </div>
      <div class="blog clearfix">
        <div class="blog_date left">
          <h5><strong>22</strong><span>Sep</span>2015</h5>
        </div>
        <div class="blog_content left">
          <h2>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
          <div class="blog_thumb"><%= image_tag("blog3.jpg") %></div>
          <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text.<br> All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
            <a href="#" class="read_more">Read More</a>
          <ul class="post_info">
             <li>By<span>Admin</span></li>
             <li>126<span>Comments</span></li> 
             <li>Posted at<span>28 Sep 2015</span></li>     
             <li>share on:
               <a class="facebook_share" href="#">facebook</a>
               <a class="twitter_share" href="#">Twitter</a>
               <a class="google_share" href="#">Google plus</a>
             </li>  
          </ul>
        </div>
      </div>
      <div class="pagination">
        <ul>
          <li class="prev_page"><a href="#">Prev</a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">...</a></li>
          <li><a href="#">6</a></li>
          <li><a href="#">8</a></li>
          <li class="next_page"><a href="#">next</a></li>
        </ul>
      </div>
    </div>
     <div class="medium-3 columns">
      <div class="sidebar">
       <form class="blog_Search">
        <input type="text" value="" placeholder="Search">
        <button class="btn" type="submit"></button>
       </form>
       <h3>Folow Us</h3>
       <ul class="social_icons">
        <li class="facebook"><a herf="#">Facebook</a></li>
        <li class="twitter"><a herf="#">Twitter</a></li>
        <li class="googleplus"><a herf="#">Google Plus</a></li>
        <li class="youtube"><a herf="#">Youtube</a></li>
       </ul>
       <div class="categories sidebar_sec">
        <h3>Categories</h3>
        <ul>
          <li>Lorem ipsum dolor sit amet.</li>
          <li class="active">Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
          <li>Lorem ipsum dolor sit amet.</li>
        </ul>
       </div>
       <div class="instagram_block sidebar_sec">
         <h3>Check out our world Pets</h3>
         <ul class="post_thumbs clearfix">
          <li><a href="#" ><%= image_tag("blog1.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog2.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog3.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog4.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog5.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog6.jpg") %></a></li>
           <li><a href="#" ><%= image_tag("blog1.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog2.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog3.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog4.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog5.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog6.jpg") %></a></li>
           <li><a href="#" ><%= image_tag("blog1.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog2.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog3.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog4.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog5.jpg") %></a></li>
          <li><a href="#" ><%= image_tag("blog6.jpg") %></a></li>
         </ul>
       </div>
      </div>
      </div>
    </div>
</div>




</section>